* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    background: #ffffff;
    padding: 0 16px;
    background-image: url("https://www.transparenttextures.com/patterns/rice-paper-3.png");
  }
  
  header {
    background-color: #a0937d;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  
  .titleDiv {
    float: left;
  }
  
  .loginDiv {
    position: relative;
    float: right;
    font-family: verdana;
    overflow: hidden;
    text-align: center;
    width: 30%;
  }
  
  .loginDiv input {
    padding: 3px;
    font-family: "McLaren", cursive;
    width: 100%;
  }
  
  .loginDiv button {
    color: #f9f8f7;
    cursor: pointer;
    padding: 2px 2px;
    margin: 2px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: "McLaren", cursive;
    background-color: transparent;
  }
  
  .loginDiv button:hover {
    color: #e3cdc1;
  }
  
  .loginDiv p {
    color: #f9f8f7;
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer a {
    color: #ccc;
    text-decoration: none;
  }
  
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.4em;
    margin-bottom: 6px;
    padding: 5px;
  }
  .note a {
    font-size: 1.1em;
    color: #a0937d;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 5px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-line;
    word-wrap: break-word;
    padding: 5px;
    color: rgb(138, 137, 137);
  }
  .note button,
  .newCategory button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #e3cdc1;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: none;
  }
  .note button:hover,
  .newCategory button:hover {
    color: rgb(206, 204, 204);
  }
  
  form.create-note,
  .registerInput,
  .newCategory {
    position: relative;
    width: 480px;
    margin: 30px auto 10px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  
  form.create-note input,
  form.create-note textarea,
  .registerInput,
  .newCategory input {
    width: 100%;
    border: none;
    padding: 8px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }

  .newCategory {
      display: flex;
  }
  
  .newCategory input {
      flex: 1;
  }

  .registerInput {
    width: 50%;
  }
  
  .centerDiv {
    text-align: center;
  }
  
  form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #e3cdc1;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }
  
  .container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .animated-word {
    font-family: Helvetica;
    letter-spacing: 0.4em;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    color: rgb(65, 64, 64);
    cursor: pointer;
    width: 30%;
    outline: 3px solid;
    outline-color: #e3cdc1;
    outline-offset: 10px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  }
  
  .animated-word:hover {
    color: #d0b9ad;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
  }
  
  button {
    box-shadow: none;
    background-color: transparent;
    border: none;
  }

  
  .categoriesDiv {
      margin-top: 90px;
      margin-left: 40px;
  }